/*婢舵挳鍎�/
.header {
    height: 70px;
    background-color: #FF8F33;
    width: 100%;
}
body {
    background-color: #EEEEEE;
    font-family:"Microsoft yahei";
}
.order {
    height: 70px;
}
.order-left {
    float: left;
    line-height: 70px;
    color: #FFF;
    font-size: 18px;
    margin-left: 22px;
}
.order-right {
    float: right;
    line-height: 70px;
    margin-right:53px; 
    font-weight: 700;
}

.order-right span{
    color: #FFF;
    font-size: 14px;
}
.myorder {
    margin-right: 43px;
}
.login-r {
 position: relative;
 left: 8px;
 top:-1px;
}
.order-right ul{
	float:right;
	color:#FFFFFF;
	width:74px;
	font-size:14px;
}
.accuntBalance {
	width:74px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#666666;
	background-color:#FFFFFF;
	font-size:14px;
	margin-top:-21px;
	display:none; 
}
/*鐠併垽顦电�纭呰杽*/
.order-object {
    background-color: #FFF;
    margin-top: 21px;
    height: 70px;
    line-height: 70px;
    border-bottom:1px solid #F5F5F5;
}
.object-left {
    margin-left: 20px;
    float: left;
    font-size:16px;
}
.object-middle {
    float: left;
    margin-left: 35px;
}

.selects {
   appearance:none;
   -moz-appearance:none;
   -webkit-appearance:none;
   -ms-appearance:none;
	
	width:134px;
	height:28px;
	outline:none;
	border:1px solid #FF8F33;
	text-align:center;
	background: url(../images/down.png) no-repeat scroll 113px center transparent;
	padding-right:15px;
	padding-left:15px;
	background-size:9%;
}
.everyMeal {
	padding-left:17px;
	height:26px;
	font-size:12px;
	color:#999999;
	background-color:#F6F6F6;
	line-height:26px;
}
.object-right {
    float: right;
    margin-right: 35px;
}
.object-right button {
    width:80px;
    height:30px;
    background-color:#FF8F33;
    color:#FFFFFF;
    font-size:14px;
    cursor:pointer;
}
.time {
	margin:10px auto !important;
	color:#333333;
	font-size:16px;
}
.meal {
    margin-top: 20px;
    background-color: #FFF;
    padding-top: 27px;
    padding-left: 31px;
}
.meal li {
    width: 369px;
    height: 121px;
    background-color: #F9F9F9;
    float: left;
    margin-left: 15px;
    margin-bottom: 16px;
}

.meal .meal-img{
    width: 141px;
    height: 121px;
    float: left;
    background-size: contain;
}
.meal .meal-msg {
    float: left;
    height: 121px;
    position:relative;
}
.meal-msg .msg-0 {
	margin-left:18px;
	margin-top:8px;
	color:#FF8F33;
	font-weight:700;
}
.meal-msg .msg-1{
    margin-left: 18px;
    margin-top:6px;
    margin-bottom:13px;
    width: 200px;
}
.meal-msg .msg-2{
   margin-left:18px;
}
.meal-msg .msg-2 span {
	color:#FF8F33;
	font-weight:700;
}

.meal-msg .msg-21{
   margin-bottom: 5px;
   margin-left:18px;
}
.meal-msg .msg-21 span {
	color:#FF8F33;
	font-weight:700;
}

.meal-msg .msg-3{
    position: absolute;
    font-size：27px;
    left: 195px;
    top:88px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #FFF;
    color: #FF8F33;
    line-height: 26px;
    text-align: center;
    font-weight: 800;
    border:1px solid #F5F5F5;
}
/* 鐠愵厾澧挎潪锟�*/
#append {
	max-height:300px;
	overflow-y:auto;
}

.shoppingcar {
    width: 280px;
    position: fixed;
    bottom: 0px;
    right: 5px;
    box-shadow: 5px 5px 20px 5px #E7E7E7;
}
.shoppingcar .shoppingcar-top {
    height: 40px;
    line-height: 40px;
    background-color: #F9F9F9;
    display:none;
}
.shoppingcar-top-l {
    float: left;
    margin-left: 16px;
    color: #999999;
}
.shoppingcar-top-r {
    float: right;
    color: #FF8F33;
    margin-right: 16px;
    cursor:pointer;
}
.shoppingcar-middle ul {
    background-color: #FFF;
    font-size: 13px;
}
.shoppingcar-middle .shoppingcar-middle-top {
    height: 32px;
    color: #999999;
    line-height: 32px;
    display:none;
}
.shoppingcar-middle .shoppingcar-middle-top .middle-top-l {
    float: left;
    margin-left: 60px;
}
.shoppingcar-middle .shoppingcar-middle-top .middle-top-r {
    float: right;
    margin-right: 37px;
}
.shoppingcar-middle .shoppingcar-middle-bot {
    height: 40px;
    line-height: 40px;
    margin-left: 17px;
    color: #4C4C4C;
}
.shoppingcar-middle .shoppingcar-middle-bot .middle-bot-l {
    float: left;
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:150px;
}
.shoppingcar-middle .shoppingcar-middle-bot .middle-bot-r {
    float: right;
    margin-right: 19px;
}

.shoppingcar-middle .shoppingcar-middle-bot .jian {
    display: inline-block;;
    text-align: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #BBB;
    color: #BBB;
    line-height: 16px;
    font-size: 16px;
    font-weight: 800;
    background-color: #FFF;
    cursor:pointer;
}
.shoppingcar-middle .shoppingcar-middle-bot .jia {
    display: inline-block;
    text-align: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #BBB;
    color: #BBB;
    line-height: 16px;
    font-size: 16px;
    font-weight: 800;
    background-color: #FFF;
    cursor:pointer;
}
.shoppingcar-middle .shoppingcar-middle-bot .number {
   font-weight: 800;
    display: inline-block;
    width: 28px;
    box-sizing: border-box;
    text-align: center; 
}
.shoppingcar-bottom {
    height: 46px;
}
.shoppingcar-bottom .shoppingcar-bottom-l {
    background-color: #3F4347;
    width: 176px;
    line-height: 46px;
    float: left;
    cursor: pointer;
}
.shoppingcar-bottom .shoppingcar-bottom-l .buycar {
    margin-left: 16px;
}
.shoppingcar-bottom .shoppingcar-bottom-l .pay {
    margin-left:12px;
    color: #FFFFFF;
    display:none;
}
.shoppingcar-bottom .shoppingcar-bottom-r {
    width: 104px;
    background-color: #FF8F33;
    float: left;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    cursor:pointer;
}

.mask {
	z-index: 0;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.4;
	filter:alpha(opacity=40);
	display:none
}
#choose {
	width:300px;
	height:250px;
	background-color:#FFFFFF;
	display:none;
	position:absolute;
    left:50%;
    top:50%;
    margin-left:-150px;
    margin-top:-150px;
    z-Index:1;
}
.choose-title {
	padding:10px 0px 10px 0px;
	font-size:20px;
	text-align:center;
	font-weight:700;
	color:#FFFFFF;
	margin-bottom:20px;
	background-color:#FF8F33;
}
#choose lable {
	font-size:18px;
	margin-right:5px;
	margin-left:10px;
	margin-bottom:20px;
}
#choose li {
	float:left;
}
.department {
	margin:10px 10px 0px 10px;
}
.orderName {
	margin:10px 10px 10px 10px;
}
#zdPerson {
	
	border-radius:6px;
	height:26px;
	position:relative;
	bottom:2px;
	width:150px;
	font-size:16px;
	padding-left:10px;
}
#staffName {
	width:106px;
}
.txt2 {
	margin:10px 0px 0px 0px;
	border-radius:6px;
	position:absolute;
	left: 123px;
    top: 123px;
}
#txt2 {
	 height: 26px;
    padding-left: 10px;
}
#isOk {
	position:absolute;
	width:80px;
	height:28px;
	background-color:#FF8F33;
	color:#FFFFFF;
	font-size:16px;
	bottom:20px;
	right:20px;
}
.l-text {
	width:160px !important;
	height:26px;
	border:2px solid #FF8F33;
	border-radius:6px;
	overflow:hidden;
}
  .l-trigger {
	height:26px;
	width:26px;
	border:2px solid #FF8F33;
	top:-2px;
	right:-2px;
	background: #EEEEEE;
} 
.l-trigger-hover {
	height:26px;
	width:26px;
	border:2px solid #FF8F33;
	top:-2px;
	right:-2px;
	background-color:#999999;
	opacity:0.4;
} 
.l-trigger-pressed {
	height:26px;
	width:26px;
	border:2px solid #FF8F33;
	top:-2px;
	right:-2px;
	background-color:#999999;
	opacity:0.4;
} 
.l-trigger-cancel {
	right: 28px;
}
   
 